* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #f2ede3;
}

body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

#in-viewport {
    height: 20px;
    width: 20px;
    background: purple;
}

/* left section */
.leftContainer {
    width: 75%;
    margin: 0;
    padding: 0;
    float: left;
    background: #333842;
}

.headerLeft {
    height: 10%;
    width: 75%;
    background: #21252b;
    font-weight: 900;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.contentLeft {
    width: 100%;
    background: #333842;
}

.sectionContainer {
    width: 100%;
    background: #333842;
}

.sectionContainer p,
.sectionContainer img {
    column-count: 2;
    column-gap: 40px;
}

.contentLeft .sectionContainer:first-child {
    height: 100%;
    column-count: 1;
}

.sectionContainer:last-child {}

.motoImage img {
    width: 80%;
    height: 80%;
    margin-top: 10% !important;
    margin-left: 10%;

}

#section1,
#section2,
#section3,
#section4,
#section5 {
    padding-top: 10vh;
}


.contentLeft h2 {
    font-size: 3em;
    font-weight: 300;
    margin: 0 0 25px 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.contentLeft p {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: lighter;
    text-align: justify;
}

.sectionContainer img {
    width: 80%;
    height: 80%;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 10%;
}

/* left section */


/* right section */
.rightContainer {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
    position: fixed;
    right: 0;
}

.logoRight {
    width: 100%;
    height: 10%;
    background: #21252b;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionRight {
    width: 100%;
    height: 18%;
}

.sectionRight:nth-child(2) {
    background: #312E40;
}

.sectionRight:nth-child(3) {
    background: #35374A;
}

.sectionRight:nth-child(4) {
    background: #282C34;
}

.sectionRight:nth-child(5) {
    background: #35424A;
}

.sectionRight:nth-child(6) {
    background: #2E3D40;
}

.sectionRight {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 2px;
    cursor: pointer;
}

.sectionRight:hover span {
    transition: all 0.2s ease-in-out;
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    -webkit-filter: brightness(100%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(100%);
}

.sectionRight span {
    transition: all 0.2s ease-in-out;
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    -webkit-transform: translate(0, 0px);
    transform: translate(0, 0px);
    -webkit-filter: brightness(80%);
    /* Safari 6.0 - 9.0 */
    filter: brightness(80%);
}


/* right section */


.active {
    background: #292929 !important;
    -webkit-filter: brightness(120%) !important;
    /* Safari 6.0 - 9.0 */
    filter: brightness(120%) !important;
}